@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap%27');
*{
    margin:0

}
body{
    min-height: 100vh;
    display: grid;
    flex-direction: lfr column;
}
.footer{
    background-color: #000c44;
    

}
.container{
    max-width: 1170px;
    background-color: #000c44;
    margin:auto
}
.row{
    display: flex;
    flex-wrap: wrap;
}
u1{
    list-style: none;
}
.footer-col{
    width: 25%;
    padding: 0 15px;

}
.footer-col h4{
    font-size: 36px;
    color: white;
    margin-bottom: 15px;
    font-weight: 500;
    position: relative;
    margin-top: 10px;
}
.footer-col h4:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 75px;
}
.footer-col u1 li{
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer-col u1 li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col u1 li:first-child{
    margin-top: 10px;
}
.footer-col u1 li a{
    font-size: 24px;
    text-transform : capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    color: grey;
    display: block;
    margin-top: 10px;
}
.footer p{
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 100px;
}
mark {
    background-color: yellow;
    color: black;
}