*{
    margin:0

}
.footer{
    background-color: #1756a3;
}
.container{
    max-width: 1170px;
    background-color: #1756a3;
    margin:auto
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: black;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
