
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>À propos de nous</title>
  </head>
    <style> 
    h1{text-align: center;}
    </style> 
  </head>

 
  {% include 'navbar.html' %}
  <body>
  
   {% block content %}
 
    <header>
      <h1 style="padding-top: 50px;">À propos de nous</h1>
    </header>
    
    <div class="row">
        <div class="col-sm-3" style="background-color:rgb(255, 255, 255);">
          <p> </p>
        </div>
        <div class="col-sm-6" style="background-color:rgb(255, 255, 255);">
    
            

                
                            <main>
                                <section>
                                <h2>Notre histoire</h2>
                                <p>Nous sommes 3 étudiants au Collège Bois-de-Boulogne passionés par l'informatique qui essaient de faciliter la vente des livres usagés. Avec les compétences apprises dans le programme de SIM, ce premier projet serait le fruit de nos études.</p>
                                </section>
                                <section>
                                <h2>Notre équipe</h2>
                                <p>Voici notre équipe</p>
                                <ul>
                                    <li>Benjamin Morin - CEO</li>
                                    <img style = "margin: 25px; width:25%; height: 25%;" src = "{% static './img/Benjamin.jpg' %}" class = "img-fluid">  
                                    <li>Karan Kumar - Soutien technique</li>
                                    <img style = "margin: 25px; width:25%; height: 25%;" src = "{% static './img/karan2.jpg' %}" class = "img-fluid">
                                    <li>Anthony Lim - Directeur en chef du cabinet culinaire</li>
                                    <img style = "margin: 25px; width:25%; height: 25%;" src = "{% static './img/AnthonyLim.jpg' %}" class = "img-fluid">
                                </ul>
                                </section>
                                <section>
                                <h2>Notre mission :</h2>
                                <p>Notre mission est de fournir aux étudiants un outil qui permet de faciliter leurs ventes de livres usagés !</p>
                                </section>
                            </main>




        </div>
        <div class="col-sm-3" style="background-color:rgb(255, 255, 255);">
            <p> </p>
          </div>
      </div>
    






    {% include "master.html" %}
    {% endblock %} 
  </body>
</html>