{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>À propos de nous</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
   {% block content %}
    <header>
      <h1>À propos de nous</h1>
    </header>
    
    <div class="row">
        <div class="col-sm-3" style="background-color:rgb(255, 255, 255);">
          <p> </p>
        </div>
        <div class="col-sm-6" style="background-color:rgb(255, 255, 255);">
    
            

                
                            <main>
                                <section>
                                <h2>Notre histoire</h2>
                                <p>Nous sommes 3 étudiants au Collège Bois-de-Boulogne passionés par l'informatique qui essaient de faciliter la vente des livres usagés. Avec les compétences apprises dans le programme de SIM, ce premier projet serait le fruit de nos études.</p>
                                </section>
                                <section>
                                <h2>Notre équipe</h2>
                                <p>Voici notre équipe</p>
                                <ul>
                                    <li>Benjamin Morin - CEO</li>
                                    <li>Karan Kumar - Soutien technique</li>
                                    <li>Anthony Lim - Directeur en chef du cabinet culinaire</li>
                                </ul>
                                </section>
                                <section>
                                <h2>Notre mission :</h2>
                                <p>Notre mission est de fournir aux étudiants un outil qui permet de faciliter leurs ventes de livres usagés !</p>
                                </section>
                            </main>




        </div>
        <div class="col-sm-3" style="background-color:rgb(255, 255, 255);">
            <p> </p>
          </div>
      </div>
    






    {% include "footer.html" %}
    {% endblock %} 
  </body>
</html>