
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>À propos de nous</title>
  </head>
    <style> 
    h1{text-align: center;}
    </style> 
  </head>

  <body>
    {% include 'navbar.html' %}
    {% block content %}
    
     <header>
       <h1 style="padding-top: 50px;">Conditions d'utilisations</h1>
     </header>

     <div class="row">
        <div class="col-sm-3" style="background-color:rgb(255, 255, 255);">
          <p> </p>
        </div>
        <div class="col-sm-6" style="background-color:rgb(255, 255, 255);">
    
            

                
                            <main>
                             <p>
                                Bienvenue sur Kulimo, un site de petites annonces en ligne qui permet aux utilisateurs de publier des annonces pour vendre ou acheter des biens et services. Les présentes conditions d'utilisation régissent l'utilisation de Kulimo par les utilisateurs. En utilisant Kulimo, vous acceptez les présentes conditions d'utilisation et vous engagez à les respecter. Si vous n'acceptez pas les présentes conditions d'utilisation, veuillez ne pas utiliser Kulimo.
                                <br>
                                <br>
                                <u><strong>Inscription et compte utilisateur</strong></u>
                                <br>
                                Pour utiliser Kulimo, vous devez vous inscrire et créer un compte utilisateur. Vous êtes responsable de la confidentialité de votre compte utilisateur et de votre mot de passe. Vous acceptez de ne pas partager votre compte utilisateur ou votre mot de passe avec des tiers.
                                <br>
                                <br>
                                <u><strong>Contenu publié</strong></u>
                                <br>
                                Vous êtes responsable de tout contenu que vous publiez sur Kulimo, y compris les annonces, les photos, les descriptions et les commentaires. Vous acceptez de ne publier que du contenu licite et véridique. Vous acceptez également de ne pas publier de contenu qui est diffamatoire, offensant, obscène, discriminatoire ou qui enfreint les droits de propriété intellectuelle d'autrui.
                                <br>
                                <br>
                                <u><strong>Propriété intellectuelle</strong></u>
                                <br>
                                Kulimo détient tous les droits de propriété intellectuelle relatifs au site web, y compris les marques de commerce, les droits d'auteur et les brevets. Vous acceptez de ne pas copier, reproduire, modifier, distribuer ou utiliser de quelque manière que ce soit le contenu de Kulimo sans l'autorisation écrite préalable de Kulimo.
                                <br>
                                <br>
                                <u><strong>Limitation de responsabilité</strong></u>
                                <br>
                                Kulimo ne peut être tenu responsable de tout dommage, perte ou préjudice résultant de l'utilisation de Kulimo ou de tout contenu publié sur Kulimo. Kulimo ne garantit pas l'exactitude, la fiabilité ou la qualité du contenu publié sur Kulimo. Vous utilisez Kulimo à vos propres risques.
                                <br>
                                <br>
                                <u><strong>Résiliation</strong></u>
                                <br>
                                Kulimo se réserve le droit de résilier votre compte utilisateur et de supprimer tout contenu que vous avez publié sur Kulimo si vous enfreignez les présentes conditions d'utilisation.
                                <br>
                                <br>
                                <u><strong>Modification des conditions d'utilisation</strong></u>
                                <br>
                                Kulimo se réserve le droit de modifier les présentes conditions d'utilisation à tout moment. Les modifications prendront effet dès leur publication sur Kulimo.
                                <br>
                                <br>
                                En utilisant Kulimo, vous acceptez les présentes conditions d'utilisation et vous acceptez de respecter toutes les lois applicables.
                                </p>
                            </main>




        </div>
        <div class="col-sm-3" style="background-color:rgb(255, 255, 255);">
            <p> </p>
          </div>
      </div>
    






    {% include "master.html" %}
    {% endblock %} 
  </body>
</html>