{% block content %}

<div class="column is-one-third">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button is-success is-fullwidth is-medium mt-5"
                type="submit">Mettre en ligne
        </button>
    </form>

    {% if img_obj %}  
        <h3>Succesfully uploaded : {{img_obj.caption}}</h3>  
        <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">  
    {% endif %}
</div>
{% endblock content %}