{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kulimo BdeB</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<style> 
.jumbotron {
   background-color: #1756a3; 
   color: #000000;
}
.container-fluid { 
  padding: 60px 50px;
}
</style>

<body>


  {% include 'messages.html' %}

 <div class="jumbotron text-center">

  <!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">


      {% if user.is_authenticated %}

      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Welcome, {{user.username}}</a>
      </li>

      {% else %}

      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>

      {% endif %}
    </ul>
  </div>
</nav>


  <img style = "margin: 25px;" src = "{% static './img/logo.png' %}" class = "img-fluid">  
    <p>Marché de livres usagés pour les étudiants du cégep.</p>
    
    <form class="form-inline">
        <div class="input-group">
            <button onclick="location.href = '/register';" type="button" style = "margin: 25px;" class="btn inscription">S'inscrire</button>
          <div class="input-group">
            <button onclick="location.href = '/login';" type="button" style ="margin: 25px;" class="btn connexion">Se connecter</button>
          </div>
        </div>
      </form>
    </div>




      
    {% include "footer.html" %}
  

</body>
</html>