<!DOCTYPE html>
<html>
<head>
  <title>Kulimo Bdeb</title>
  <link rel="stylesheet" href="{% static './css/style.css' %}">  
</head>
<body>

{% block content %}
<footer class="footer">        
  <div class = "container">
    <div class = "row">
      <div class = "footer-col">
        <h4>Kulimo</h4>
       <u1>
        <li><a href="a_propos_de_nous">A propos de nous</a></li>  
        <li><a href="nous_joindre">Nous joindre</a></li>  
       </u1>
      </div>
      <div class = "footer-col">
         <h4>Renseignements</h4>
         <u1>
          <li><a href="condition_d'utilisation">Conditions d'utilisation</a></li>  
          <li><a href="a_lire">A lire</a></li>
         </u1>
      </div>
    </div> 
  </div>      
</footer>
{% endblock %}
</html>