
{% load static %}
<head>
    <title>Kulimo BdeB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
{% include 'navbar.html' %}
{% block content %}
<div class="column">

    <div class="block">
    <h1 class="title is-1" style="padding-top: 2%;">
     Les annonces de {{profile.user.username}}
    </h1>
    </div>

</div>

<div class="content">
    {% for userpost in profile.user.userposts.all %} 

        <div class="box">

            <strong>{{ userpost.title }}</strong>
            
            <br>
            {{ userpost.content }}

            <img style="width: 50%; height: 50%; padding: 5%;" src="{{ userpost.image.url }}">

            <span class="is-small has-text-grey-light">
                ({{ userpost.date_published }})
            </span>
        </div>
    {% endfor %}
</div>

<div class="block" style="padding-top: 1%; padding-bottom: 1%;">
  <a href="{% url 'accueil:profile_list' %}">
      <button class="button is-dark is-outlined is-fullwidth">
          All Profiles
      </button>
  </a>
</div>

{% endblock content %}
{% include "master.html" %}