{% block content %}

<div class="column">

    <div class="block">
    <h1 class="title is-1">
        {{profile.user.username|upper}}'s posts
    </h1>
    </div>

</div>

<div class="content">
    {% for userpost in profile.user.userposts.all %} 

        <div class="box">

            <strong>{{ userpost.title }}</strong>
            
            <br>
            {{ userpost.content }}

            <img src="{{ userpost.image.url }}">

            <span class="is-small has-text-grey-light">
                ({{ userpost.date_published }})
            </span>
        </div>
    {% endfor %}
</div>

<form id="post-form" method="POST" action="checkview">
    {% csrf_token %}
    <input type="hidden" name="room_name" id="room_name" value="{{roomname}}" />
    <input type="hidden" name="username" id="username" value="{{username}}" />
    <input type="hidden" name="profile" id="profile" value="{{profile_string}}" />
    <input type="submit" value="Envoyer un message">
</form>

<div class="block">
  <a href="{% url 'accueil:profile_list' %}">
      <button class="button is-dark is-outlined is-fullwidth">
          All Profiles
      </button>
  </a>
</div>

{% endblock content %}