{% block content %}

<form class="d-flex" method=POST action="{% url 'rechercher' %}">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" name="searched">
    <button onclick="location.href = '/rechercher';" class="btn btn-outline-secondary" type="submit">Rechercher</button>
  </form>

{% if searched %}
    <h1>Vous avez recherché {{ searched }}</h1>
    <br/>
    {% for userpost in posts %}
    <div class="box">

        <strong>{{ userpost.title }}</strong>
        
        <br>
        {{ userpost.content }}

        <img src="{{ userpost.image.url }}">

        <span class="is-small has-text-grey-light">
            (posted by 
            <li><a href="{% url 'accueil:profile' profile.id %}">{{ userpost.user }}</a></li> 
            on {{ userpost.date_published }})
        </span>
    </div>
    {% endfor %}

    {% else %}
        <h1>Vous n'avez rien recherché...</h1>
{% endif %}
{% endblock %}