{% load static %}
{% include 'navbar.html' %}
<head>
    <title>Kulimo BdeB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
{% block content %}

<form class="d-flex" method=POST action="{% url 'rechercher' %}"  style="padding-top: 5%;">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" name="searched">
    <button onclick="location.href = '/rechercher';" class="btn btn-outline-secondary" type="submit">Rechercher</button>
  </form>

{% if searched %}
    <h1>Vous avez recherché: {{ searched }} . Voici les publications les plus pertinentes: </h1>
    <br>
    {% for userpost in posts %}
    <div class="box">
        <div class = "col-md-5"></div>
        <div class = "col-md-6"></div>
        <div class = "col-md-1"></div>   
        <strong style="font-size: 250% ; padding: 2%;">{{ userpost.title }}</strong>
         
        <div style="font-size: 150%; padding-left: 3%;">{{ userpost.content }}</div> 
        
        <img style="width: 50%; height: auto; padding: 2%; overflow: hidden; " src="{{ userpost.image.url }}">
        <br>
       
    
        
        
        <span class="is-small has-text-grey-light">
            (Publié par <a href="{% url 'accueil:profile' userpost.user.profile.id %}">{{ userpost.user }}</a> le {{ userpost.date_published }})
        </span>
        
     <hr style="height: 3px; background-color: lightslategray;">   
    </div>

    {% endfor %}

    {% else %}
        <h1>Vous n'avez rien recherché...</h1>
{% endif %}
{% endblock %}
{% include "master.html" %}