*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    background-color: rebeccapurple;
}
.container{
    max-width: 1170px;
    background-color: rebeccapurple; 
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer-col{
    width: 50%;
    padding: 0 15px;
}